/* Centering text inside elements with the class App */
.App {
  text-align: center;
}

/* Styling for the logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Styling for the header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styling for links */
.App-link {
  color: #61dafb;
}